<!-- BLOQUE DE DIRECTIVAS DE ATRIBUTO -->

<p [ngStyle]="{color: 'tomato', fontWeight: 'bolder'}">Agregar estilos In-Line</p>

<p [ngClass]="['underlined']">Agregar clases de CSS usando NG en lugar de la class de HTML</p>

<p [ngClass]="['underlined','small']">Agregar mas de una clase CSS usando NG</p>

<p [ngClass]="{underlined: false, small: true}">Agregando clases del CSS puediendo activarlas o no</p>


<!-- BLOQUE DE DIRECTIVAS ESTRUCTURALES -->

<!-- Boton que lanza una funcion en el componente que cambia el estado de cargando -->
<button (click)="cambiarCargando()">{{ cargando ? 'Terminar Cargar' : 'Iniciar Carga' }}</button> 

<!-- Segun el estado de la variable en el componente se muestra el parrafo -->
<p *ngIf="cargando">
    Cargando...
</p>

<!-- Muestra lo que esta en el container si cargando es false, pero si cambia a true muestra lo que esta dentro del templateEspera -->
<ng-container *ngIf="!cargando; else templateEspera">
    <p>Todo listo!</p>
</ng-container>

<ng-template #templateEspera>
    <p>Espere a que termine el proceso</p>
</ng-template>


<!-- Bloque para explicar NGFOR -->

<!-- De una lista que tengamos en el componente la traemos y pintamos por cada producto en este caso, un parrafo -->
<div *ngFor="let producto of listaElementos">
    <!-- Ambito de FOR donde tenemos acceso a "producto" -->
    <p>{{producto}}</p>
</div>

<!-- De una lista compleja de articulos iteramos y exponemos sus partes -->
<!-- Ademas de poder extraer el indice de la lista, y si es par o impar -->
<div *ngFor="let product of listaProductos; let i = index; let even = even;"> 
    <!-- Si el elemento es par o impar tendra o no el estilo -->
    <div [ngStyle]="even ? {backgroundColor: 'blue', color: 'white'} : {backgroundColor: 'green', color: 'white'}">
        <!-- Ambito de FOR donde tenemos acceso a "producto" -->
        <p>ID: {{ i+1 }}</p>
        <p>{{product.nombre}} - {{product.precio}}$</p>
        <p>{{product.descripcion}}</p>
    </div>
</div>

<!-- Bloque para explicar NGSWITCH -->

<!-- Dentro del sqitch evaluamos la variable que tenemos declarada en el componente como "opcion" -->
<div [ngSwitch]="opcion">
    <p [id]="1" *ngSwitchCase="1">Has escogido la Opcion 1</p>
    <p [id]="2" *ngSwitchCase="2">Has escogido la Opcion 2</p>
    <p [id]="3" *ngSwitchCase="3">Has escogido la Opcion 3</p>
    <p [id]="4" *ngSwitchCase="4">Has escogido la Opcion 4</p>
    <p *ngSwitchDefault class="cerrar">Ninguna de las opciones</p>
</div>

<!-- Sleccion de opcion para el usuario -->
<div>
    <input type="radio" name="opcion" (click)="escogerOpcion(1)" /> Opcion 1
    <input type="radio" name="opcion" (click)="escogerOpcion(2)" /> Opcion 2
    <input type="radio" name="opcion" (click)="escogerOpcion(3)" /> Opcion 3
    <input type="radio" name="opcion" (click)="escogerOpcion(4)" /> Opcion 4
    <input type="radio" selected="selected" name="opcion" (click)="escogerOpcion(0)" /> Ocultar
</div>


<!-- Concatenar directivas -->

<div *ngFor="let product of listaProductos; let i = index; let even = even;"> 

    <!-- Solo renderiza los productos de mas de 10$ de precio -->
    <div *ngIf="product.precio > 10" [ngStyle]="even ? {backgroundColor: 'blue', color: 'white'} : {backgroundColor: 'green', color: 'white'}">

        <p>ID: {{ i+1 }}</p>
        <p>{{product.nombre}} - {{product.precio}}$</p>
        <p>{{product.descripcion}}</p>
    </div>
</div>